header#main-header{
  background:#000;
  height: 72px;
}
header#main-header .header-content{
  width: 100%;
  max-width: 930px;
  height: 72px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header#main-header .header-content a{
  color: #FFFF;
  text-decoration: none;
  font-size: 23px;
}